[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "duckduckgo-search>=8.1.1",
    "openai>=2.14.0",
    "streamlit>=1.52.2",
]
